footer {
  background-color: lightgrey;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#information01 {
  width: 25%;
  text-align: left;
}


#information03 {
  width: 25%;
  text-align: right;
}

#logoFooter {
  height: 4rem;
  width: 4rem;
}

.text_footer {
    font-size: .6rem;
}