<link rel="stylesheet" href="/css/footer.css">

<footer>
  <div class="infos">   
    <address class="info-text">
      <strong class="text-enphasi">Endereço:</strong> Rua 22 de Julho, Carnaubal CE. 
    </address>
    <address class="info-text">
      <strong class="text-enphasi">Contato:</strong>(88) 93650-1111
    </address> 
  </div>
  <img src="/img/logo.png" alt="Logo da Prefeitura de Carnaubal" class="pref-logo">
  <div class="infos to-top">
    <address class="info-text">
      <strong class="text-enphasi">Horário de atendimento:</strong> 8h às 12h de 13h às 17h, Segunda à Sexta-Feira  
    </address>    
  </div>
</footer>