<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div id="information01">   
        <p class="text_footer"><strong>Endereço:</strong> Rua 22 de Julho, Carnaubal CE. </p>
        <p class="text_footer"><strong>Contato:</strong>(88) 93650-1111</p> 
    </div>
    <div id="information02">
        <img src="/img/logo.png" alt="" id="logoFooter">
    </div>
    <div id="information03">
        <p class="text_footer"><strong>Horário de atendimento:</strong>
            8h às 12h de 13h às 17h, Segunda à Sexta-Feira  
        </p>    
    </div>
</footer>