<link rel="stylesheet" href="/css/footer.css">

<footer>
  <div class="infos-wrapper">
    <div class="infos">   
      <address class="info-text">
        <strong class="text-enphasi">Endereço:</strong> Rua 22 de Julho, Carnaubal CE. 
      </address>
      <address class="info-text">
        <strong class="text-enphasi">Contato:</strong>(88) 93650-1111
      </address> 
    </div>
    <img src="/img/logo.png" alt="Logo da Prefeitura de Carnaubal" class="pref-logo">
    <div class="infos">
      <address class="info-text">
        <strong class="text-enphasi">Horário de atendimento:</strong> 8h às 12h de 13h às 17h, Segunda à Sexta-Feira  
      </address>    
    </div>
  </div>
  <div class="project-content">
    <img src="/img/project_logo.png" alt="Logo do Projeto CoEdu" class="project-logo">
    <div class="project-name">
      <p class="project-title" title="COEDU">COEDU</p>
      <span class="project-slogan">Conexão Para a Educação</span>
    </div>
  </div>
</footer>