<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div id="information01">   
        <p>Endereço: Rua 22 de Julho, Carnaubal CE.</p>
        <p>Contato:(88) 93650-1111</p>   
    </div>
    <div id="information02">
        <img src="/img/logo.png" alt="" id="logoFooter">
    </div>
    <div id="information03">
        <p>Horário de atendimento:
            8h às 12h de 13h às 17h, Segunda a Sexta-Feira
        </p>
    </div>
</footer>