<!-- styles -->
<link rel="stylesheet" href="/css/heading.css">

<!-- html -->
<header id="heading">
  <button class="hamburguer-menu">
    <img src="/icons/hamburguer-menu.svg" alt="Menu">
  </button>
  <nav id="main-menu">
    <ul class="navbar">
      <li class="navbar-item">
        <a href="/">Página Inicial</a>
      </li>
      <li class="navbar-item">
        <a href="/escolas">Escolas</a>
      </li>
      <li class="navbar-item">
        <a href="/projetos-e-programas">Projetos e Programas</a>
      </li>
    </ul>
  </nav>
  
  <img src="/img/seducar-logo.png" alt="Logo Seducar" class="header-logo">
  <div class="title">
    <h1>
      Secretaria de Educação 
    </h1>
    <p>
      Governo Municipal de Carnaubal
    </p> 
  </div>

  <div class="icons">
    <a href="https://www.facebook.com/secretariadeeducacaodecarnaubal" rel="noopener noreferrer" target="_blank" class="icon">
      <img src="/icons/facebook.svg" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/seducarcarnaubal" rel="noopener noreferrer" target="_blank" class="icon">
      <img src="/icons/instagram.svg" alt="Instagram">
    </a>
    <a href="mailto:seducar2021@gmail.com" class="icon">
      <img src="/icons/gmail.svg" alt="Gmail">
    </a>
  </div>
</header>

<!-- scripts -->
<script src="/js/headingScript.js"></script>