<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.escolas.css">
    <title>Seducar | Escolas</title>
  </head>
  <body>
    <%- include('../partials/heading.ejs') %>
    <main id="main-content">
      <div class="school-card">
        <img src="img/schools/andreJoseRibeiro.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/antoniaCandidodaConceição.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/aquilesPeresMota.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/cmei.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/cosmeRodriguesdeSousa.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/franciscoCandidodaSilva.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/guilhermeFerreiraLima.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/saoBernardo.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="/icons/user.svg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEEP Dep. José Maria Melo</h2>
          <span class="school-info">
            <strong>INEP:</strong> 40028922
          </span>
          <span class="school-info">
            <strong>Diretor:</strong> Reinaldo
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Mc Daleste
          </span>
          <span class="school-info">
            <strong>E-mail:</strong> mechama@mail.com
          </span>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>