<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.escolas.css">
    <title>Seducar | Escolas</title>
  </head>
  <body>
    <%- include('../partials/heading.ejs') %>
    <main id="main-content">
      <div class="school-card">
        <img src="img/schools/andreJoseRibeiro.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF ANDRÉ JOSÉ RIBEIRO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008792
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Sonia Aparecida da Silva 
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Vilania Lima da Silva
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/antoniaCandidodaConceição.jpeg" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">EEF ANTONIA CANDIDO DA CONCEIÇÃO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008806
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Pricila S. de Oliveira
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Helena Barbosa de S. Paiva
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/aquilesPeresMota.jpeg" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF AQUILES PERES MOTA</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008830
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Kelly Campos Brito
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Antonia Marta Brito Oliveira
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/cmei.jpeg" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">CMEI PADRE JOÃO BATISTA DE ARAUJO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23259221
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Maria Eridan F. Veras
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Terezinha Pinto
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/cosmeRodriguesdeSousa.jpeg" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">EEF COSME RODRIGUES DE SOUSA</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23215623
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Leandro Almeida de Sousa
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Francisco Igor Mendes Barros
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/franciscoCandidodaSilva.png" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">EEF FRANCISCO CANDIDO DA SILVA</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009012
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Maria Irenice de Souza
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Erilandia Araujo Brito
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/guilhermeFerreiraLima.png" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">EEF GUILHERME FERREIRA LIMA</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008902
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Renan Medeiros da Costa
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Antonia Honorato do Nascimento 
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/saoBernardo.png" class="school-logo">
        <div class="school-infos">
    
          <h2 class="school-name">EEF LINDALVA MELO </h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009098
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Francisca Alves de Souza
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Maria Aucilene Alves Melo
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/vitorinoRodriguesMedeiros.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF VITORINO RODRIGUES DE MEDEIROS</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009217
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Vanessa Mesquita de Farias
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Sandra de Souza Freire
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/JosePaulaBrito.png" class= "school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF JOSE DE PAULA BRITO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009020
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Cleuduany Nogueira de Souza Silva
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Antonia Juliana Rodrigues do Amaral 
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="icons/school.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF HUMBERTO CASTELO BRANCO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008989
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Rejany Maria Gomes Sampaio
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Silvana Gonçalves de Oliveira 
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/esterAssisBrito.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF ESTER DE ASSIS BRITO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008954
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Maria Souzi Darles Oliveira Sampaio
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/pedroAntonioMelo.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF PEDRO ANTONIO DE MELO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009136
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Osani Maria de Oliveira
          </span>
          <span class="school-info">
            <strong>Agente:</strong> Maria Auxiliadora de Oliveira 
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/joseFranciscoMedeiros.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF JOSE FRANCISCO DE MEDEIROS</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009055
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Maria Lucia Rodrigues da Silva
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="img/schools/raimundoFerreiraCamposFilho.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF RAIMUNDO FERREIRA CAMPOS FILHO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009160
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Lusinete da Silva Rodrigues
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  Roberto Isaías Medeiros
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="icons/school.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF NOSSA SENHORA DO PERPETUO SOCORRO</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009152
          </span>
          <span class="school-info">
            <strong>Diretor(a):</strong> Antônia Francineuma V. do Nascimento
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  Antônio Marcio do Nascimento medeiros
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="icons/school.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF FREI BRUNO MOOS</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23008890
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Joaliny Batista Ribeiro
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  
          </span>
        </div>
      </div>
      <div class="school-card">
        <img src="icons/school.png" class="school-logo">
        <div class="school-infos">
          <h2 class="school-name">EEF JOAQUIM RIBEIRO DE ALMEIDA</h2>
          <span class="school-info">
            <strong>INEP:</strong> 23009039
          </span>
          <span class="school-info">
            <strong>Coordenador(a):</strong> Lidiana Brito Chaves
          </span>
          <span class="school-info">
            <strong>Agente:</strong>  Antônia Lima Chaves
          </span>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>