<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.index.css">
    <title>Seducar</title>
  </head>
  <body>
    <header id="heading">
      <button class="hamburguer-menu">
        <img src="/icons/hamburguer-menu.svg" alt="Menu">
      </button>
      <nav id="main-menu">
        <ul class="navbar">
          <li class="navbar-item">
            <a href="#">Página Inicial</a>
          </li>
          <li class="navbar-item">
            <a href="#">Escolas</a>
          </li>
          <li class="navbar-item">
            <a href="#">Projetos</a>
          </li>
          <li class="navbar-item">
            <a href="#">Programas</a>
          </li>
          <li class="navbar-item">
            <a href="#">Sobre nós</a>
          </li>
        </ul>
      </nav>
      <img src="/img/seducar-logo.png" alt="Logo Seducar" class="header-logo">
      <div class="title">
         <h1>
           Secretaria de Educação 
         </h1>
         <p>
           Governo Municipal de Carnaubal
         </p> 
      </div>
      <div class="icons">
        <img src="/icons/facebook.svg" alt="Facebook" class="icon">
        <img src="/icons/instagram.svg" alt="Instagram" class="icon">
        <img src="/icons/gmail.svg" alt="Gmail" class="icon">
      </div>
    </header>
    

    <script src="/js/hamburgerMenu.js"></script>

  </body>
</html>
