<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.index.css">
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="/img/seducar-logo.png" alt="logo_seducar." class="header-logo">
      <div class="title">
         <h1>
           Secretaria de Educação 
         </h1>
         <p>
           Governo Municipal de Carnaubal
         </p> 
      </div>
      <div class="icons">
        <img src="/icons/facebook.svg" alt="Facebook" class="icon">
        <img src="/icons/instagram.svg" alt="Instagram" class="icon">
        <img src="/icons/gmail.svg" alt="Gmail" class="icon">
      </div>
    </header>
    
  </body>
</html>
