<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.projetosEProgramas.css">
    <title>Seducar | Projetos e Programas</title>
  </head>
  <body>
    <%- include('../partials/heading.ejs') %>

    <main id="main-content">
      <p>
        O Programa <strong>Mais PAIC</strong> é uma política educacional de Estado que visa estruturar as ações de acompanhamento e avaliação nas turmas de Educação Infantil ao 9º ano do Ensino Fundamental e formação continuada de professores tendo como foco o desenvolvimento das habilidades de aprendizagens correspondentes a cada ano de estudo.
      </p>

      <p>
        Dentre as ações, está o envio de material estruturado voltado para as turmas de 1º, 2º e 3º anos e a oferta de livros literários da Coleção PAIC Prosa e Poesia. Inclui-se às ações também, o trabalho com o programa <strong>Luz do Saber</strong>, que visa consolidar as habilidades de alfabetização nas turmas de 3º ano. É oferecido um aporte com ferramentas de acompanhamento do desempenho dos alunos para indicação dos níveis de leitura e escrita e a execução das ações do Programa no município.
      </p>

      <p>
        Para ampliar a oferta de uma educação de qualidade, o <strong>município de Carnaubal</strong> adquiriu livros didáticos destinados às turmas de Educação Infantil e Livros com foco no desenvolvimento dos descritores com base nas matrizes de Português e Matemática do <strong><abbr title="Sistema Nacional de Avaliação da Educação Básica">SAEB</abbr></strong>. O trabalho com esse material foi orientado a partir da elaboração do <strong>Projeto Aprova SAEB</strong> com ações voltadas para o trabalho com os descritores críticos, observados nas avaliações externas.
      </p>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>